{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Login{% endblock %}

{% block page_content %}
<body background="/static/dna.png">
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <small>© C.S.S. Mendel in collaboration with the BAMS Team </small>
</div>

</body>
{% endblock %}
