{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Register{% endblock %}

{% block page_content %}
<body background="/static/dna.png">
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <br>
    <br>
    <br>
    <small>© C.S.S. Mendel in collaboration with the BAMS Team </small>
</div>
</body>
{% endblock %}
