<p>Dear {{ to_user.username }},</p>
<p> You have received a new message from {{from_user.username}}:</p>
<p>{{message}}</p>
<p>Sincerely,</p>
<p>The BAMS Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>