<p>Dear {{ admin.username }},</p>
<p> <b>New Project Request from <b>{{user.username}} </b></b></p>
<p><b>Title: </b>{{project.title}}</p>
<p><b>Description: </b>{{project.description}}</p>
<p><b>Objectives: </b>{{project.objectives}}</p>
<p><b>Dataset: </b>{{project.dataset}}</p>
<p>Sincerely,</p>
<p>The BAMS Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
