<p>Dear {{ user.username }},</p>
<p> The state of the project named <b>{{project.title}} </b></p>
<p>has been changed from: <b>{{old_state}}</b></p>
<p>to: <b>{{new_state}}</b></p>
<p>Sincerely,</p>
<p>The BAMS Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>