{% extends "base.html" %}

{% block title %}404. Page Not Found{% endblock %}

{% block page_content %}
<body background="/static/dna.png">
<div class="page-header">
    <!DOCTYPE HTML>
    <html>
      <head>
        <H1><b>404. Page not Found</b></H1>
        <style>
          body {
            margin: 0px;
            padding: 0px;
          }
        </style>
      </head>
      <body>
        <div id="container"></div>
        <audio id="audiotag1" src="tetris.mp3" preload="auto"></audio>
        <script src="http://www.html5canvastutorials.com/libraries/three.min.js"></script>
        <script defer="defer">
          // revolutions per second
          var angularSpeed = 0.2; 
          var lastTime = 0;
          var flag=false;
          var flag2=false;

          document.getElementById('audiotag1').play();
     
          // this function is executed on each animation frame
          function animate(){
            // update
            var time = (new Date()).getTime();
            var timeDiff = time - lastTime;
            var angleChange = angularSpeed * timeDiff * 2 * Math.PI / 1000;
            cube.rotation.y += angleChange;
            cube.rotation.x += angleChange;
            cube.rotation.z += angleChange;
            if(cube.position.x>=400) flag=true
            if (cube.position.x<=-400) flag=false
              if(flag==false) cube.position.x+=1;
              else cube.position.x-=1;
                if(cube.position.y>=50) flag2=true
            if (cube.position.y<=0) flag2=false
              if(flag2==false) cube.position.y+=1;
              else cube.position.y-=1;
            lastTime = time;
     
            // render
            renderer.render(scene, camera);
     
            // request new frame
            requestAnimationFrame(function(){
                animate();
            });
          }
     
          // renderer
          var renderer = new THREE.WebGLRenderer();
          renderer.setSize(window.innerWidth, window.innerHeight);
          document.body.appendChild(renderer.domElement);
     
          // camera
          var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
          camera.position.z = 600;
     
          // scene
          var scene = new THREE.Scene();
          
          // material
          var material = new THREE.MeshLambertMaterial({
            map: THREE.ImageUtils.loadTexture('/static/404.jpg')
          });
                    
          // cube
          var cube = new THREE.Mesh(new THREE.CubeGeometry(200, 200, 200), material);
          cube.overdraw = true;
          cube.rotation.x = Math.PI * 0.1;
          cube.position.x=-300;
          scene.add(cube);
          
          // add subtle ambient lighting
          var ambientLight = new THREE.AmbientLight(0xbbbbbb);
          scene.add(ambientLight);
          
          // directional lighting
          var directionalLight = new THREE.DirectionalLight(0xffffff);
          directionalLight.position.set(1, 1, 1).normalize();
          scene.add(directionalLight);
     
          // start animation
          animate();
        </script>
      </body>
    </html>      
</div>
</body>
{% endblock %}
