{% extends "base.html" %}

{% block title %}Flasky - Internal Server Error{% endblock %}

{% block page_content %}
<body background="/static/dna.png">
<div class="page-header">
    <h1>Internal Server Error</h1>
</div>
</body>
{% endblock %}
