{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Projects{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Projects</h1>
</div>
<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <td width="30%">
          <div class="form-group">
          <select class="form-control" id="Sort" >
            <option data-hidden="true">{{ord}}</option>
            {%if ord != 'A to Z'%}
                <option value="1">A to Z</option>
            {%endif%}
            {%if ord != 'Newest'%}
                <option value="2">Newest</option>
            {%endif%}
            {%if ord != 'Oldest'%}
                <option value="3">Oldest</option>
            {%endif%}
          </select>
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script type="text/javascript">
          jQuery('#Sort').on('change', function(){
            if(jQuery(this).val() == 1)
            window.location.href = "{{ url_for('main.admin_projects',sort='A to Z')}}"
            if(jQuery(this).val() == 2)
            window.location.href = "{{ url_for('main.admin_projects',sort='Newest')}}"
            if(jQuery(this).val() == 3)
            window.location.href = "{{ url_for('main.admin_projects',sort='Oldest')}}"
          })
        </script>
          </div>
        </td>
      </tr>
      <tr>
        <th>Project</th>
        <th>Status</th>
        <th>Other</th>
      </tr>
    </thead>
    <tbody>
    	{%for project in projects%}
      {%if project.view_admin%}
      <tr>
        <td><a href="{{ url_for('main.project_description',id=project.id)}}">{{project.title}}</a></td>
        <td>
          {%if project.state.id == 11%}
              {{project.state.name}}
          {% elif project.state.id != 1 %}
          <div class="form-group">
          <select class="form-control" id="{{project.id}}" >
            <option data-hidden="true">{{project.state.name}}</option>
            {%for state in states%}
              {%if state.id!= 1 and state.id!=2 and state.id!=11 and state.id!=project.state.id%}
                <option value="{{state.id}}">{{state.name}}</option>


              {%endif%}
            {%endfor%}
          </select>

          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script type="text/javascript">
          jQuery('#{{project.id}}').on('change', function(){
            if(jQuery(this).val() == 3)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=3,sort=ord)}}"
            if(jQuery(this).val() == 4)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=4,sort=ord)}}"
            if(jQuery(this).val() == 5)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=5,sort=ord)}}"
            if(jQuery(this).val() == 6)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=6,sort=ord)}}"
            if(jQuery(this).val() == 7)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=7,sort=ord)}}"
            if(jQuery(this).val() == 8)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=8,sort=ord)}}"
            if(jQuery(this).val() == 9)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=9,sort=ord)}}"
            if(jQuery(this).val() == 10)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=10,sort=ord)}}"
            if(jQuery(this).val() == 12)
            window.location.href = "{{ url_for('main.admin_projects',id_project=project.id,id_state=12,sort=ord)}}"
          })
        </script>

          </div>
          {%else%}
          <a href="{{ url_for('main.admin_projects',id_state=2, id_project=project.id,sort=ord) }}" class="btn btn-success" role="button">OK</a>
          <a href="{{ url_for('main.admin_projects',id_state=11, id_project=project.id,sort=ord) }}" class="btn btn-danger" role="button">NO</a>
          <a href="{{ url_for('main.chat',id_owner=project.owner_id, id=project.id) }}" class="btn btn-info" role="button">More Info 
          {%if map.get(project.id)>0%}
          <span class="badge">{{map.get(project.id)}}</span></a>
          {%endif%}
          {%endif%}
        </td>
        {%if project.state.id==10 or project.state.id==11 or project.state.id==12%}
          <td><a href="{{ url_for('main.admin_projects',id_state='delete', id_project=project.id,sort=ord) }}" class="btn btn-danger" role="button">Delete</a>
          {%if project.state.id==10 or project.state.id==12%}
          <a href="{{ url_for('main.chat',id_state=project.state.id, id=project.id, id_owner=project.owner.id) }}" class="btn btn-warning" role="button">History</a>
          {%endif%}
          {%if project.state.id==10%}
            <a href="http://www.dropbox.com"><img width="8%" src="/static/dropbox.png" align="right"></a>
          {%endif%}
          </td>
        {%elif project.chat_enabled and project.state.id==9%}
          <td><a href="{{ url_for('main.chat', id=project.id, id_owner=project.owner.id) }}" class="btn btn-info" role="button">Feedback 
          {%if map.get(project.id)>0%}
          <span class="badge">{{map.get(project.id)}}</span></a>
          {%endif%}
          </td>
        {%else%}
          <td>Work in progress..</td>
        {%endif%}
        

        

      </tr>
      {%endif%}
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
