{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - CHAT{% endblock %}

{% block page_content %}
<div class="page-header">
  {%if from_id.is_administrator %}

           <a href="{{ url_for('main.admin_projects')}}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>

      {%else%}

          <a href="{{ url_for('main.client_projects')}}" class="btn btn-info" role="button"> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>

      {%endif%}
    <h1>chat</h1>
</div>

<div class="container">

    	{%for message in messages%}
       {%if project.id == message.project_id%}
          {%if message.from_id == from_id.id%}
            
              <h4><div class="messages from_id" align="right" > <span class="label label-primary">{{message.text}}</span></div></h4>
            
          {%else%}
            
              <h4><div class="messages to_id" align = "left"><span class="label label-default">{{message.text}} </span></div></h4>
          
          {%endif%}
        {%endif%}
      {%endfor%}
  
  </div>

<div class="col-md-4">

  {%if project.state_id != 10 and project.state_id != 12%}
    {{ wtf.quick_form(form) }}
  {%endif%}
    
</div>
{% endblock %}