{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Projects{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Projects</h1>
</div>
<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <td width="30%">
          <div class="form-group">
          <select class="form-control" id="Sort" >
            <option data-hidden="true">{{ord}}</option>
            {%if ord != 'A to Z'%}
                <option value="1">A to Z</option>
            {%endif%}
            {%if ord != 'Newest'%}
                <option value="2">Newest</option>
            {%endif%}
            {%if ord != 'Oldest'%}
                <option value="3">Oldest</option>
            {%endif%}
          </select>
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script type="text/javascript">
          jQuery('#Sort').on('change', function(){
            if(jQuery(this).val() == 1)
            window.location.href = "{{ url_for('main.client_projects',sort='A to Z')}}"
            if(jQuery(this).val() == 2)
            window.location.href = "{{ url_for('main.client_projects',sort='Newest')}}"
            if(jQuery(this).val() == 3)
            window.location.href = "{{ url_for('main.client_projects',sort='Oldest')}}"
          })
        </script>
          </div>
        </td>
      </tr>
      <tr>
        <th>Project</th>
        <th>Status</th>
        <th>Remove from list</th>
      </tr>
    </thead>
    <tbody>
    	{%for project in projects%}
      {%if project.view_client%}
      <tr>
        <td><a href="{{ url_for('main.project_description',id=project.id)}}">{{project.title}}</a></td>
        <td>{{project.state.name}}</td>
        {%if project.state.id==10 or project.state.id==11 or project.state.id==12 %}
        <td><a href="{{ url_for('main.client_projects',id_state='delete', id_project=project.id, sort=ord) }}" class="btn btn-danger" role="button">Delete</a></td>
        {%else%}
        <td>Work in progress..
        {%if project.chat_enabled%}
        <a href="{{ url_for('main.chat', id=project.id) }}" class="btn btn-info" role="button">More Info 
          {%if map.get(project.id)>0%}
          <span class="badge">{{map.get(project.id)}}</span></a>
          {%endif%}
        {%endif%}
        </td>
        {%endif%}
      </tr>
      {%endif%}
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}