{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Home{% endblock %}

{% block page_content %}
<body background="/static/dna.png">
<div class="page-header">
    <h1>Customer's Home</h1>
</div>
<div class="col-md-4">
	<a href="{{ url_for('main.new_request') }}" class="btn btn-info" role="button">Ask new analysis</a>
	<a href="{{ url_for('main.client_projects') }}" class="btn btn-success" role="button">Check your projects</a>
</div>
</body>
{% endblock %}
