{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Home{% endblock %}

{% block page_content %}
<body background="/static/dna.png">
	<div class="page-header">
    	<h1>Admin's Home</h1>
	</div>
	<div class="col-md-4">
		<a href="{{ url_for('main.admin_projects') }}" class="btn btn-success" role="button">Check projects 
		{%if count!=0%}
        	<span class="badge">{{count}}</span></a>
    	{%endif%}
		</a>
	</div>
</body>

{% endblock %}
