{% extends "base.html" %}

{% block title %}BAMS{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.username }}
	{% else %}Stranger{% endif %}!</h1>
</div>
{% endblock %}
