{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BAMS - Projects{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Project Details</h1>
</div>
<div class="container">
<table class="table table-hover">
    <tbody>
      <tr>
        <td>Title: </td>
        <td>{{project.title}}</td>
      </tr>
      <tr>
        <td>General Description: </td>
        <td>{{project.description}}</td>
      </tr>
      <tr>
        <td>Data & Dataset Description: </td>
        <td>{{project.dataset}}</td>
      </tr>
      <tr>
        <td>Objectives: </td>
        <td>{{project.objectives}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}


